@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: #212B36;
    font-family: 'Asap', sans-serif;
    color: #ffffff;
} 
#imagem{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
}
#navbar{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
}
nav ul {
    padding:0px;
    list-style:none;
}
nav ul li { 
    display: inline;
}
nav ul li a {
    padding: 2px 10px;
    display: inline-block;
    /* background-color:#EDEDED; */
    color: #95C3F5;
    text-decoration: none;
    /* border-bottom:3px solid #EDEDED;*/
} 
nav ul li a:hover {
    /* background-color:#D6D6D6; */
    color: #ffffff;
    border-bottom:3px solid #485D75;
}
#corpo{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width:96%;
    background-color: #485D752f;
    margin-top: 10px;
    border-radius: 2px;
    padding: 10px;
}
main{
    display: block;
    filter: brightness(95%);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 80%;
}
#cabHome{
    position: absolute;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#fff;
    top: 0px;
    left: 5%;
    right: 5%;
    width: auto;
}
section{
    text-align: justify;
    left: auto;
    right: auto;
}
div#imageHome{
    margin-top: 70px;
    text-align: center;
}
footer{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#centroProjeto{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:#fff;
    top: 0px;
    left: 0%;
    right: 0%;
    bottom: 60px;
    width: auto;
}
#center{
    text-align: center;
}
div#imageProjeto{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}
#justificadoProjeto{
    text-align: justify;
    font-family: 'Asap', sans-serif;
}
#siteProjeto p{
    margin-right: 40px;
}
#siteProjeto ul{
    list-style: none;
}
#siteProjeto li a{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}
#siteProjeto a:visited{
    color: #95C3F5;
}
#siteProjeto a:hover{
    color: rgb(146, 162, 180);
}